node_modules
.yarn
**/data/
.vagrant
*.iml
*.ipr
*.ids
*.iws
.idea/
.project
.metadata
local.properties
.classpath
.settings/
.loadpath
target/
.gradle
build/
*.log*
/classes/
*.id_*
*.ova
*.ovf
*.box
*.pkrvars.hcl
.auto.pkrvars.hcl
build
